@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 6.5%; /* 10px === 1rem*/
}

/* @media only screen and (max-width: ) {
    html {
        font-size: ;
    }
} */

body {
    /* background-image: linear-gradient(to right, #7F00FF, #E100FF); */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'lato', sans-serif;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.container {
    max-width: 80rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 3.5em) {
    .container {
        max-width: 0rem;
    }
   
}

.header {
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

@media (max-width: 3.25em) {
    .header {
        font-size: 2rem;
    } 
}


@media (max-width: 2.875em) {
    .header {
        font-size: 1.5rem;
    } 
}




.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30rem;
    /* border: 2px solid #0e0e0ea5; */
    border-radius: 4px;
    background-color: #ffffff;

}
.profile-details ul li{
  list-style: none;
}

@media (max-width: 2.125em) {
    .profiles {
        max-width: 2rem;
    }
}



.profile-image img{
    padding: 1rem;
    margin-bottom: 2rem;
   

    /* border: 2px solid #0e0e0ea5; */

}

.profile-image-size  {
    display: block;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: .5rem solid #E100FF;
}

.profile-details {
    color: #333;
    width: 100%;
    margin-bottom: 2rem;
}

.details-header {
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.details-list {
    list-style: none;
    width: 100%;
    border: 2px solid #f7d7f7;
}

.details-item:not(:last-child) {
    display: block;
    padding: 4px 0;
    border-bottom: 2px solid #f7d7f7;
}

.btn {
    display: block;
    width: 50%;
    border-radius: 15px;
    padding: .8rem 0;
    color: #fff;
    background-image: linear-gradient(to right, #7F00FF, #E100FF);
    border: none;
    
}
.btn:focus {
    outline: none;
}
.btn:active {
  background-image: linear-gradient(to right, #421c68, #54095e);
}

